.not-found-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy-Medium", sans-serif;
  padding: 0 30px;
}

.not-found-title {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.not-found-content {
  font-size: 24px;
  text-align: center;
}
