.app-container {
  overflow-x: hidden;
}

.content-container {
  justify-content: center;
  display: flex;
  padding-top: 80px;
}

.content-container-md {
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
